<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <title>Green quant</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css"/>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"/>

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet"/>
    <!-- responsive style -->
    <link href="../static/css/responsive.css" rel="stylesheet"/>
</head>

<body class="sub_page">

<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="index.html">
            <span>
              Green quant
            </span>
                </a>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="s-1"> </span>
                    <span class="s-2"> </span>
                    <span class="s-3"> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav  ">
                            <li class="nav-item ">
                                <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about"> About</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="service"> Cases </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contactLink">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="quote_btn-container ">
                        <a href="+ 31 1234567890">
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
</div>

<!-- service section -->
<section class="service_section layout_padding">
    <div class="container-fluid">
        <div class="heading_container">
    <h2 style="font-weight: bold; font-size: 28px; margin-bottom: 10px; margin-top: 5px;">Our Cases</h2>
</div>
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 10px;">
            <h2 style="font-weight: bold; font-size: 24px">Direct influence</h2>
            <a data-toggle="tooltip" data-placement="right" title="Direct remote influence on bio-agrocinosis using space or aerial photography to reproduce the connecting signal.">
                <img src="../static/images/info-circle-svgrepo-com.svg" style="width:16; height: 16px; margin-bottom: 2px;">
            </a>
        </div>
        <div class="row">

            <!-- Work Example 1 -->
            <div class="col-md-6 mb-4">
                <div class="card work_example_box">
                    <div class="img-box">
                        <img src="../static/images/rice_indonezia.png" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-dark" style="font-weight: bold">Results of applying technology for
                            growing rice (Hyderabad, India, 2009)</h5>
                        <p class="card-text text-dark">
                            Developing of rice in the presence of the transmitter, carrying of biostimulator. Material
                            of the transmitter beach-sand in a permeable to water bag.<br>
                            Number of tillers/ Weight: control – 21/160 g, treated – 22/240 g, treated + biofertilizer
                            26/310 g.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Work Example 2 -->
            <div class="col-md-6 mb-4">
                <div class="card work_example_box">
                    <div class="img-box">
                        <img src="../static/images/long_flax.png" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-dark" style="font-weight: bold">Results of technology application in flax
                            cultivation</h5>
                        <p class="card-text text-dark">
                            SPK Kolkhoz "Yeltsy", Tver region, Selizharovsky district, 2005 Variety - lengon flax, area
                            of ODU - 221 ha.
                            <br>
                            Yield increase:
                            - on seeds - by 60%
                            - on unthreshed flax stalks at 19% moisture - by 75%
                            <br><br><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Work Example 3 -->
            <div class="col-md-6 mb-4">
                <div class="card work_example_box">
                    <div class="img-box">
                        <img src="../static/images/sicto_cotton.png" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-dark" style="font-weight: bold">Experiment with cotton seeds growth - «Sicot» 71BR (Australian Cotton Research Institute in  Narrabri, 2007 г.)</h5>
                        <p class="card-text text-dark">
                            Seeds were treated using Information-influencing complex (IFC) from Moscow.
Video files (sim-file) were received from Australia by e-mail. The photo shows cotton seeds: above - treated seeds, below - control seeds
                        </p>
                    </div>
                </div>
            </div>

            <!-- Work Example 4 -->
            <div class="col-md-6 mb-4">
                <div class="card work_example_box">
                    <div class="img-box">
                        <img src="../static/images/cotton_experiment_2.png" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-dark" style="font-weight: bold">Experiment with the termination of cotton irrigation</h5>
                        <p class="card-text text-dark">
                            Pictured condition cotton 9 days after cessation of watering (control – left, treated – right)
                            <br>
                            <br>
                            <br>
                            <br>
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6 mb-4">
                <div class="card work_example_box">
                    <div class="img-box">
                        <img src="../static/images/worms_and2.png" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-dark" style="font-weight: bold">Improvement of soil fertility and Effect of changes in soil conditions on rhizogenesis </h5>
                        <p class="card-text text-dark">
                            A) Number of earthworms in the same volume of soil (control – left, treated – right)<br>
                            B) Condition of the root system of maize seeds germinated on the fourth day (control – left, treated – right)
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </p>
                    </div>

                </div>
            </div>
        </div>
            <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 10px;">
            <h2 style="font-weight: bold; font-size: 24px">Indirect influence</h2>
            <a data-toggle="tooltip" data-placement="right" title="Indirect influence using the so-called. synergists - environmentally friendly substances to which we remotely impart specified biologically active properties. Synergists are diluted in a ratio of about 1:10,000 with water used for soaking seeds, watering, and irrigation.">
                <img src="../static/images/info-circle-svgrepo-com.svg" style="width:16; height: 16px; margin-bottom: 2px;">
            </a>
        </div>
            <div class="row">
            <!-- Work Example 3 -->
            <div class="col-md-6 mb-4">
                <div class="card work_example_box">
                    <div class="img-box">
                        <img src="../static/images/sunflower_seeds.png" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-dark" style="font-weight: bold">Germination of sunflower seeds in a foreign medium</h5>
                        <p class="card-text text-dark">
                            5 days: A and B - on water<br>
6-10 days: A - on water, B - on 100% white rot filtrate <br>
                            A1,B1 - without treatment<br>
A2, B2 - with treatment


                        </p>
                    </div>
                </div>
            </div>

            <!-- Work Example 4 -->
            <div class="col-md-6 mb-4">
                <div class="card work_example_box">
                    <div class="img-box">
                        <img src="../static/images/tomatoes.png" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-dark" style="font-weight: bold">Growing tomatoes (Vietnam)</h5>
                        <p class="card-text text-dark">
                            Conducted three processing solution activated water at a concentration of 1:10,000. The fruit ripens 10 days earlier. Colouring ripe fruit on the experience better, it is uniformly red; to control fruit color yellow with a red tint.
                            <br> A - control, B - treatment.
                        </p>
                    </div>

                </div>
            </div>
        </div>
            <div class="col-md-6 mb-4">
                <div class="card work_example_box">
                    <div class="img-box">
                        <img src="../static/images/sidlings.png" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-dark" style="font-weight: bold">Conclusions on the results of laboratory and pilot tests.</h5>
                        <p class="card-text text-dark">
                            Application of the technology provides:<br>
-increase of germination energy and seed germination <br>
                            -increase of hormonal status of seedlings<br>
- rhizogenesis enhancement<br>
- increasing resistance to stress factors<br>
- prevention of genetic mutations<br>
- slowing down the degradation of varieties<br>
- increased stress tolerance<br>
- yield increase

                        </p>
                    </div>
                </div>
             </div>
        </div>

    </div>
</section>

<div class="footer_bg">

    <!-- contact section -->
    <section class="contact_section layout_padding" id="contactLink">
        <div class="container">
    <div class="heading_container">
        <h2>
            Get In Touch
        </h2>
    </div>
    <p class="contact-info">
        Unlock Your Farm's Potential with Green Quant! We're not just tech – we're your dedicated partner. Using quantum-digital innovation, we create custom solutions to help you achieve more on your farm. Your farm, your future – let's grow together!
    </p>
</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="inputName4" placeholder="Name ">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" id="inputEmail4" placeholder="Email id">
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <input type="text" class="form-control" id="inputSubject4" placeholder="Subject">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="inputMessage" placeholder="Message">
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <!-- end contact section -->


    <!-- info section -->
    <section class="info_section layout_padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="info_logo">
                        <h3>
                            Green quant
                        </h3>
                        <p>

                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info_links">
                        <h4>
                            BASIC LINKS
                        </h4>
                       <ul class="  ">
                                <li class=" ">
                                    <a class="" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="active">
                                    <a class="" href="{{ url_for('about') }}"> About</a>
                                </li>
                                <li class="">
                                    <a class="" href="{{ url_for('service') }}"> Cases </a>
                                </li>
                                <li class="">
                                    <a class="" href="#contactLink">Contact Us</a>
                                </li>
                                <li class="">
                                   <a class="" href="../static/docs/green_quant_techology_explain.pdf" download="">Documentation</a>
                                </li>
                            </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info_contact">
                        <h4>
                            CONTACT DETAILS
                        </h4>
                        <a>
                            <div class="img-box">
                                <img src="../static/images/telephone-white.png" width="12px" alt="">
                            </div>
                            <p>
                                +31 6 10 83 13 88
                            </p>
                        </a>
                        <a>
                            <div class="img-box">
                                <img src="../static/images/envelope-white.png" width="18px" alt="">
                            </div>
                            <p>
                                greenquant.business@gmail.com
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end info_section -->


    <!-- footer section -->
    <section class="container-fluid footer_section">
        <div class="container">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://html.design/">Green Quant</a>
            </p>
        </div>
    </section>
    <!-- footer section -->

</div>

<script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.js"></script>
<script type="text/javascript" src="../static/js/custom.js"></script>


</body>

</html>
